<div class="comment" id="comment_<%= comment.id %>">
  <div>
    <%= comment.text %>

    <% if can? :edit, comment %>
      <%= link_to :edit, [:edit, comment], :remote => true %>
    <% end %>

    <% if can? :delete, comment %>
      <%= link_to :delete, comment, :method => :delete, 
        :confirm => 'Are you sure?', :remote => true %>
    <% end %>   
  </div>
</div>
